/* --
    font-family: 'Comfortaa', cursive;
-- */

body {  
    background: rgba(73,155,234,1);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    font-family: 'Comfortaa', cursive; 
    text-align:center;
    min-height:100vh;
    max-height:100vh;
    display:flex;
    flex-direction:column;

    align-items:center;
}

h1 {
    font-size:5em;
    margin-bottom:100px;
}

#calculator {
    background-color:#FFF;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    border-radius:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:600px;
    padding-top:50px;
    overflow:hidden;
}

#display {
    background-color:#2D2D2D;
    font-size:2em;
    letter-spacing:2.75px;
    text-align:right;
    height:125px;
    padding:25px;
    box-sizing:border-box;
    overflow-x:scroll;
    overflow-y: hidden;
    flex-basis:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}

#display span {
    color:#FFF;
}

#waiting {
    animation: 1s infinite blinker;
}
@keyframes blinker {
    from { opacity:1; }
    to { opacity:0; }
}


.button {
    box-sizing:border-box;
    height:100px;
    font-size:2em;
    text-shadow:0 1px 1px rgba(0,0,0,0.3);
    transition:0.3s;
    flex-basis:25%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.button:hover { cursor:pointer; }
.button span { margin:auto; }

.button:active { box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.2);}

.utility {
    background-color:#FFFFFF;
    color:#000;
    font-size:1.75em;
}
.operator {
    background-color:#FC783B;
    color:#FFF;
    font-size:2.2em;
}
.number {
    background-color:#2491E8;
    color:#FFF;
}

#equals {
    flex-basis:50%!important;
}

/* -- Media Queries -- */
@media screen and (max-width:900px) {
    #calculator { width:90%; }
    .button { height:125px; }
    #display { height:175px; }
}