/* -------- Photo Fun styles ------- */

:root {
    --base: #FF404C;
    --spacing: 10px;
    --blur: 0px;
    --border-radius: 0px;
    --brightness: 1;
    --contrast: 100%;
    --grayscale: 0%;
    --hue-rotate: 0deg;
    --invert: 0%;
    --opacity:100%;
    --saturate:100%;
    --sepia:0%;

    --light-texture: url(texture-light.png) repeat;
    --dark-texture: url(texture-dark.png) repeat;
}

body {
    text-align: center;
    background: var(--dark-texture);
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100 !important;
    font-size: 35px;
    transition:0.5s;
    padding-bottom:100px;
}

#texture-settings label { font-size:25px; }

#see-original {
    padding:10px 25px;
    font-size:0.5em;
    border-radius:5px;
    transition:0.3s;
    margin-top:25px;
    outline:none;
}

#see-original:hover {
    cursor:pointer;
}

.so-light {
    background-color:rgba(0,0,0,0);
    border:2px solid rgba(0,0,0,1);
    color:rgba(0,0,0,1);
}
.so-light:hover {
    background-color:rgba(0,0,0,1);
    color:rgba(255,255,255,1);
}

.so-dark {
    background-color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,1);
    color:rgba(255,255,255,1);
}
.so-dark:hover{
    background-color:rgba(255,255,255,1);
    color:rgba(0,0,0,1);
}

#texture-settings {
    margin-bottom:-45px;
}

span.control {
    margin-top:10px;
    display:inline-block;
    padding:10px 25px;
}

img {
    width:35%;
    max-width:50%;
    height:auto;
}

#img-container {
    width:100%;
}

.styled {
    padding: var(--spacing);
    background: var(--base);
    border-radius: var(--border-radius);
    filter: blur(var(--blur))
                brightness(var(--brightness))
                contrast(var(--contrast))
                grayscale(var(--grayscale))
                hue-rotate(var(--hue-rotate))
                invert(var(--invert))
                opacity(var(--opacity))
                saturate(var(--saturate))
                sepia(var(--sepia));
}

.default {
    padding: 10px;
    background: #FF404C;
    border-radius: 0px;
    filter:unset;
    transition:0.1s;
    transition-timing-function: ease-in;   
}

h2 span#title {
    font-family: 'Baloo Tammudu', cursive;
    color: var(--base);
}

h2 span#title-2 {
    font-family: 'helvetica neue', sans-serif !important;
    font-weight:100 !important;
}

h2 { margin-bottom:0px; }
input { width:100px; }
#img-container {margin-top:75px; }

/* ---- Media Queries ----*/
@media screen and ( max-width:2000px ) {
    img { width:50%; max-width: none; }
}

@media screen and ( max-width:1300px ) {
    img { width:75%; }
}

@media screen and ( max-width:1050px ) {
    img { width:80%; }
}