/* ---- Styles for RSS Feed ---- 
--------------------------------------- */

/* 
font-family: 'Barlow', sans-serif;
font-weight:300;
font-weight:400;

*/
html {
    font-family: 'Barlow', sans-serif;
    font-size:1em;
}
