/* -------- Clock & Stopwatch Styles ------- */

body  { 
    font-weight:400; 
    background: rgba(99,99,99,1);
    min-height:100vh;
    background: linear-gradient(45deg, rgba(99,99,99,1) 0%, rgba(45,45,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#2d2d2d', GradientType=1 );
}

h1 {
    font-weight:800;
    text-align:center;
    font-size:5em;
    color:#FFF;
}

#wrapper {
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
}

button:hover { cursor:pointer !important; }


h1,
section h2,
#date,
#set-alarm input,
#set-alarm button,
#upcoming-alarm span, 
#stopwatch-controls button { font-family: 'Raleway', sans-serif !important; }

#time,
#timer { font-family: 'Lato', sans-serif; }

#time, 
#set-alarm input,
#timer { font-weight:400; }

#set-alarm button,
#stopwatch-controls button {
    font-weight:800;
    letter-spacing:2px;
    font-size:1.2em;
    padding:10px 20px;
    background-color:rgba(0,0,0,0);
    border-radius:5px;
    border-width:3px;
    border-style:solid;
    outline:none !important;
}

section{
    flex-basis:30%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
}

section .inner-container {
    background-color:#FFF;
    border-radius:10px;
    overflow:hidden;
}

section h2 { color:#FFF; font-weight:normal; }

#clock {
    background: rgba(225,193,232,1);
    background: linear-gradient(45deg, rgba(225,193,232,1) 0%, rgba(199,135,213,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1c1e8', endColorstr='#c787d5', GradientType=1 );
    padding:100px 50px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.alarm-flash {
    animation-name: alarmFlash;
    animation-duration: 0.5s;
    animation-iteration-count:15;
    box-sizing:border-box;
}

@keyframes alarmFlash {
    0% {
        border:5px solid #FF7474;
        box-shadow: 0px 0px 55px 0px rgba(255,116,116,1);
    }
    50% {
        border:5pxpx solid #FF7474;;
        box-shadow: 0px 0px 55px 10px rgba(255,116,116,1);
    }
    100% {
        border:5px solid #FF7474;
        box-shadow: 0px 0px 55px 5px rgba(255,116,116,1);
    }
}

#time {
    font-size:5em;
    color:#FFF;
}
#date {
    color:#EEE;
    font-size:1.2em;
    letter-spacing:1px;
    margin-top:25px;
    text-shadow:0px 1px 2px rgba(0,0,0,0.25);
}

#set-alarm { 
    margin-top:25px; 
    padding:25px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

#set-alarm select {
    outline:none !important;
    letter-spacing:2px;
    font-size:1.2em;
    padding:10px 20px;
    border-radius:5px;
    border-width:3px;
    flex-basis:30%;
}

#set-alarm button {
    flex-basis:45%;
    margin-top:25px;
}

#submitAlarm, #stop-timer {
    border-color:#FF7474;
    color:#FF7474;
    transition:0.2s;
    flex-basis:45%;
}

#cancelAlarm { display:none; }

#upcoming-alarm {  padding:25px; }
#upcoming-alarm span { font-size:1.3em; }

#stopwatch {
    background: rgba(164,191,235,1);
    background: linear-gradient(135deg, rgba(164,191,235,1) 0%, rgba(106,142,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4bfeb', endColorstr='#6a8ecc', GradientType=1 );
    box-sizing:border-box;
    margin:auto;
    padding:100px 50px;
    text-align:center;
}

#timer { 
    font-size:5em;
    margin:auto;
    color:#FFF;
 }

#stopwatch-controls { 
    margin-top:25px; 
    padding:50px;
}

#start-timer {
    border-color:#51EF82;
    color:#51EF82;
}

#reset-timer, #cancelAlarm {
    border-color:#95989A;
    color:#95989A;
}

#set-alarm button, #stop-timer,
#start-timer, #reset-timer {
    transition:0.2s;
}

#set-alarm button:hover, #stop-timer:hover {
    background-color:#FF7474;
    color:#FFF;
}

#start-timer:hover {
    background-color:#51EF82;
    color:#FFF;
}

#reset-timer:hover, #cancelAlarm:hover {
    background-color:#95989A !important;
    color:#FFF;
}

#alarm-sound,
#alarm-sound audio {
    height:1px;
    width:1px;
    opacity:0.1;
}

#stopwatch-controls {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
}

#stopwatch-controls button {
    margin-top:10px;
}

#start-timer, #stop-timer {
    flex-basis:45%;
}

#reset-timer {
    flex-basis:100%;
}

/* --- Media Queries --- */

@media screen and (max-width:2050px) {
    section{ flex-basis:45%; }
}

@media screen and (max-width:1375px) {
    #wrapper { width:90%; }
    section{ flex-basis:45%; }
    #time, #timer { font-size:4em; }
}

@media screen and (max-width:1050px) {
    #wrapper { width:100%; }
    section{ flex-basis:48%; }
    #time, #timer { font-size:3.5em; }
}

@media screen and (max-width:800px) {
    section{ flex-basis:75%; margin-top:25px; }
    #time, #timer { font-size:4.5em; }
}
@media screen and (max-width:620px) {
    #time, #timer { font-size:4em; }
}

@media screen and (max-width:600px) {
    section{ flex-basis:90%; margin-top:25px; }
}