
body,  { 
    font-weight:400;
}
#wrapper {
    width:80%;
    margin:auto;
}

h1 {
    font-weight:800;
    text-align:center;
    font-size:5em;
}

h1,
section h2,
#date,
#set-alarm input,
#set-alarm button,
#upcoming-alarm span, 
#stopwatch-controls button { font-family: 'Raleway', sans-serif !important; }

#time,
#timer { font-family: 'Lato', sans-serif; }

#time, 
#set-alarm input,
#timer { font-weight:400; }

#set-alarm button,
#stopwatch-controls button {
    font-weight:800;
    letter-spacing:2px;
    font-size:1.2em;
    padding:10px 20px;
    background-color:rgba(0,0,0,0);
    border-radius:5px;
    border-width:3px;
    border-style:solid;
    outline:none !important;
}

section{
    display:block;
    width:50%;
    margin:auto;
    text-align:center;
    background-color:rgba(250,250,250,0.5);
    border:2px solid rgba(30,30,30,1);
    border-radius:5px;
    padding:50px 25px;
}

section h2 {}
#clock-section {}

#clock {
    background-color:rgba(100,100,100,1);
    padding:25px;
    border-radius:5px;
    width:75%;
    margin:auto;
    border:2px solid rgba(25,25,25,0.5);
    border-bottom-width:4px;
    box-shadow:0px 0px 5px 3px rgba(0,0,0,0.25);
}

.alarm-flash {
    animation-name: alarmFlash;
    animation-duration: 0.5s;
    animation-iteration-count:15;
    box-sizing:border-box;
}

@keyframes alarmFlash {
    0% {
        border:5px solid #FF7474;
        box-shadow: 0px 0px 55px 0px rgba(255,116,116,1);
    }
    50% {
        border:5pxpx solid #FF7474;;
        box-shadow: 0px 0px 55px 10px rgba(255,116,116,1);
    }
    100% {
        border:5px solid #FF7474;
        box-shadow: 0px 0px 55px 5px rgba(255,116,116,1);
    }
}

#time {
    font-size:8rem;
    color:#FFF;
    text-shadow:0px 2px 5px rgba(0,0,0,0.5);
}
#date {
    background-color:rgba(50,50,50,1);
    margin:auto;
    padding:10px 50px;
    display:inline-block;
    border-radius:5px;
    border:1px solid rgba(255,255,255,0.5);
    border-bottom-width:3px;
    color:#EEE;
    font-size:1.2em;
    letter-spacing:1px;
    margin-top:25px;
}

#set-alarm {
    margin-top:25px;
}

#set-alarm select {
    outline:none !important;
    letter-spacing:2px;
    font-size:1.2em;
    padding:10px 20px;
    border-radius:5px;
    border-width:3px;
}

#set-alarm button, #stop-timer {
    border-color:#FF7474;
    color:#FF7474;
    transition:0.2s;
}

#upcoming-alarm {
    padding:25px;
}
#upcoming-alarm span {
    font-size:1.3em;
}

#stopwatch-section {margin-top:25px;}
stopwatch {}

#timer { font-size:5em; }

#stopwatch-controls {
    margin-top:25px;
}

#start-timer {
    border-color:#51EF82;
    color:#51EF82;
}

#reset-timer{
    border-color:#95989A;
    color:#95989A;
}

#set-alarm button, #stop-timer,
#start-timer, #reset-timer {
    transition:0.2s;
}

#set-alarm button:hover, #stop-timer:hover {
    background-color:#FF7474;
    color:#FFF;
}

#start-timer:hover {
    background-color:#51EF82;
    color:#FFF;
}

#reset-timer:hover {
    background-color:#95989A;
    color:#FFF;
}

#alarm-sound,
#alarm-sound audio {
    height:1px;
    width:1px;
    opacity:0.1;
}